/* iPhone 8 - 1 */

position: relative;
width: 375px;
height: 667px;

background: #FFFFFF;


/* Navigation bar */

position: absolute;
width: 375px;
height: 50px;
left: calc(50% - 375px/2);
bottom: 0px;

background: #FFFFFF;


/* Quick test */

position: absolute;
width: 75px;
height: 50px;
left: 300px;
top: 0px;



/* Quick test icon */

position: absolute;
left: 30.67%;
right: 29.33%;
top: 30%;
bottom: 30%;

background: #FFE066;


/* Main screen */

position: absolute;
width: 375px;
height: 567px;
left: 0px;
top: 50px;

background: #FFFFFF;


/* Main screen frame */

position: absolute;
width: 375px;
height: 200px;
left: 0px;
top: 20px;

background: #481892;


/* Create Kahoot */

position: absolute;
width: 100px;
height: 30px;
left: 138px;
top: 175px;

filter: drop-shadow(0px 2px 1px rgba(37, 143, 37, 0.9));


/* Create Kahoot button */

position: absolute;
width: 100px;
height: 30px;
left: 138px;
top: 175px;

background: #2FAF2F;
border-radius: 2px;


/* Create Kahoot text */

position: absolute;
width: 100px;
height: 30px;
left: 138px;
top: 175px;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Let the games begin! */

position: absolute;
width: 157px;
height: 24px;
left: 109px;
top: 140px;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Quiz */

position: absolute;
width: 122px;
height: 51px;
left: 127px;
top: 69px;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 80px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Header */

position: absolute;
width: 375px;
height: 50px;
left: calc(50% - 375px/2);
top: 0px;



/* Header */

position: absolute;
width: 75px;
height: 50px;
left: calc(50% - 75px/2);
top: calc(50% - 50px/2);

background: #FFFFFF;


/* Account */

position: absolute;
width: 75px;
height: 50px;
left: 300px;
top: 0px;

background: #FFFFFF;


/* perm_identity */

position: absolute;
width: 24px;
height: 24px;
left: 26px;
top: 13px;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 16.67%;

background: #000000;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* iPhone 8 - 2 */

position: relative;
width: 375px;
height: 667px;

background: #FFFFFF;


/* Main screen */

position: absolute;
width: 375px;
height: 600px;
left: 0px;
top: 67px;

background: #EBE8E8;


/* Add question */

position: absolute;
width: 120px;
height: 40px;
left: 245px;
top: 550px;



/* Add qustion frame */

position: absolute;
width: 120px;
height: 40px;
left: 245px;
top: 550px;

background: #3A6AE4;
box-shadow: 0px 3px 1px #233D97;
border-radius: 2px;


/* Add question text */

position: absolute;
width: 100px;
height: 25px;
left: 255px;
top: 557px;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Title */

position: absolute;
width: 355px;
height: 75px;
left: 10px;
top: 275px;



/* Other configs */

position: absolute;
width: 50px;
height: 50px;
left: 315px;
top: 300px;



/* Other configs frame */

position: absolute;
width: 50px;
height: 50px;
left: 315px;
top: 300px;

background: #FFFFFF;


/* Other configs icon */

position: absolute;
left: 88%;
right: 6.67%;
top: 52.5%;
bottom: 44.17%;

background: #000000;


/* Titile input frame */

position: absolute;
width: 295px;
height: 50px;
left: 10px;
top: 300px;



/* Title input frame */

position: absolute;
left: 2.67%;
right: 18.67%;
top: 50%;
bottom: 41.67%;

background: #FFFFFF;


/* Title input placeholder */

position: absolute;
width: 100px;
height: 40px;
left: 20px;
top: 305px;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;

color: #757575;



/* Title label */

position: absolute;
left: 2.67%;
right: 84%;
top: 45.83%;
bottom: 50.83%;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;

color: #000000;



/* Number of questions */

position: absolute;
width: 120px;
height: 20px;
left: 10px;
top: 455px;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;

color: #000000;



/* Description */

position: absolute;
width: 355px;
height: 75px;
left: 10px;
top: 365px;



/* Titile input frame */

position: absolute;
width: 355px;
height: 50px;
left: 10px;
top: 390px;

filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));


/* Title input frame */

position: absolute;
left: 2.67%;
right: 2.67%;
top: 65%;
bottom: 26.67%;

background: #FFFFFF;


/* Title input placeholder */

position: absolute;
width: 120px;
height: 40px;
left: 20px;
top: 395px;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;

color: #757575;



/* Description label */

position: absolute;
left: 2.67%;
right: 70.67%;
top: 60.83%;
bottom: 35.83%;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;

color: #000000;



/* Title */

position: absolute;
width: 355px;
height: 75px;
left: 10px;
top: 275px;



/* Other configs */

position: absolute;
width: 50px;
height: 50px;
left: 315px;
top: 300px;

filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));


/* Other configs frame */

position: absolute;
width: 50px;
height: 50px;
left: 315px;
top: 300px;

background: #FFFFFF;


/* Other configs icon */

position: absolute;
left: 88%;
right: 6.67%;
top: 52.5%;
bottom: 44.17%;

background: #000000;


/* Titile input frame */

position: absolute;
width: 295px;
height: 50px;
left: 10px;
top: 300px;

filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));


/* Title input frame */

position: absolute;
left: 2.67%;
right: 18.67%;
top: 50%;
bottom: 41.67%;

background: #FFFFFF;


/* Title input placeholder */

position: absolute;
width: 100px;
height: 40px;
left: 20px;
top: 305px;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;

color: #757575;



/* Title label */

position: absolute;
left: 2.67%;
right: 84%;
top: 45.83%;
bottom: 50.83%;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;

color: #000000;



/* Add cover image */

position: absolute;
width: 355px;
height: 250px;
left: 10px;
top: 10.05px;



/* Add cover image */

position: absolute;
left: 2.67%;
right: 2.67%;
top: 1.68%;
bottom: 56.66%;

background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);


/* Add a cover image */

position: absolute;
width: 160px;
height: 40px;
left: 108px;
top: 140px;

font-family: Mukta;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #858484;



/* Image */

position: absolute;
left: 46.13%;
right: 45.87%;
top: 16.67%;
bottom: 78.33%;

background: #858484;


/* Header */

position: absolute;
width: 375px;
height: 50px;
left: 0px;
top: 17px;



/* Save */

position: absolute;
width: 75px;
height: 50px;
left: 300px;
top: 0px;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Cancel */

position: absolute;
width: 75px;
height: 50px;
left: 0px;
top: 0px;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Cancel */

position: absolute;
width: 125px;
height: 50px;
left: 125px;
top: 0px;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #5B5B5B;



/* iPhone 8 - 3 */

position: relative;
width: 375px;
height: 667px;

background: #FFFFFF;


/* Main screen */

position: absolute;
width: 375px;
height: 650px;
left: 0px;
top: 17px;

background: #EBE8E8;


/* Question types */

position: absolute;
width: 335px;
height: 123px;
left: 20px;
top: 152px;



/* Quiz */

position: absolute;
width: 160px;
height: 100px;
left: 195px;
top: 175px;



/* Quiz frame */

position: absolute;
width: 160px;
height: 100px;
left: 195px;
top: 175px;

background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Quiz text */

position: absolute;
width: 100px;
height: 30px;
left: 225px;
top: 240px;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Quiz icon */

position: absolute;
width: 30.79px;
height: 40px;
left: 260px;
top: 200px;

background: url(image.png);


/* True or False */

position: absolute;
width: 160px;
height: 100px;
left: 20px;
top: 175px;



/* True or False frame */

position: absolute;
width: 160px;
height: 100px;
left: 20px;
top: 175px;

background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* True or False text */

position: absolute;
width: 100px;
height: 30px;
left: 50px;
top: 240px;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* True or False icon */

position: absolute;
width: 24px;
height: 39.98px;
left: 88px;
top: 200px;

background: url(Screenshot 2021-03-13 154709.png);


/* Test knowledge */

position: absolute;
width: 120px;
height: 20px;
left: 20px;
top: 152px;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;

color: #777777;



/* Search questions */

position: absolute;
width: 335px;
height: 50px;
left: 20px;
top: 82px;



/* Search for questions */

position: absolute;
width: 335px;
height: 50px;
left: 20px;
top: 82px;

background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Search for questions */

position: absolute;
width: 160px;
height: 40px;
left: 55px;
top: 87px;

font-family: Mukta;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #828282;



/* Vector */

position: absolute;
left: 9.33%;
right: 85.33%;
top: 14.92%;
bottom: 82%;

background: #828282;


/* Add Question */

position: absolute;
width: 120px;
height: 30px;
left: 128px;
top: 22px;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Vector */

position: absolute;
left: 5.33%;
right: 90.67%;
top: 4.62%;
bottom: 93.08%;

background: #000000;


/* iPhone 8 - 4 */

position: relative;
width: 375px;
height: 667px;

background: #FFFFFF;


/* Main screen */

position: absolute;
width: 375px;
height: 600px;
left: 0px;
top: 67px;

background: #EBE8E8;


/* Footer */

position: absolute;
width: 375px;
height: 80px;
left: 0px;
top: 520px;



/* Footer frame */

position: absolute;
width: 375px;
height: 80px;
left: 0px;
top: 520px;

background: #FFFFFF;


/* Quick add another question */

position: absolute;
width: 67px;
height: 80px;
left: 308px;
top: 520px;



/* Add frame */

position: absolute;
width: 67px;
height: 80px;
left: 308px;
top: 520px;

background: #FFFFFF;
box-shadow: 0px 4px 5px rgba(157, 157, 157, 0.5);


/* Add cover */

position: absolute;
width: 52.43px;
height: 60px;
left: 316px;
top: 530px;

background: #555CFD;
border-radius: 2px;


/* Add icon */

position: absolute;
left: 87.73%;
right: 5.6%;
top: 91.17%;
bottom: 4.67%;

background: #FFFFFF;


/* False answer */

position: absolute;
width: 174px;
height: 172px;
left: 191px;
top: 335px;



/* False frame */

position: absolute;
left: 50.93%;
right: 2.67%;
top: 55.83%;
bottom: 15.5%;

background: #D31F1F;
border-radius: 5px;


/* False */

position: absolute;
width: 60.7px;
height: 30px;
left: 248px;
top: 406px;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 30px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* True answer */

position: absolute;
width: 174px;
height: 172px;
left: 10px;
top: 335px;



/* True frame */

position: absolute;
left: 2.67%;
right: 50.93%;
top: 55.83%;
bottom: 15.5%;

background: #2C61E8;
border-radius: 5px;


/* True */

position: absolute;
width: 60.7px;
height: 30px;
left: 67px;
top: 406px;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 30px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Add question */

position: absolute;
width: 355px;
height: 60px;
left: 10px;
top: 265px;

filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));


/* Add question frame */

position: absolute;
left: 2.67%;
right: 2.67%;
top: 44.17%;
bottom: 45.83%;

background: #FFFFFF;


/* Tap to add question */

position: absolute;
left: 16.8%;
right: 16.53%;
top: 45%;
bottom: 46.67%;

font-family: Mukta;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #636363;



/* Timer */

position: absolute;
width: 75px;
height: 30px;
left: 10px;
top: 216px;



/* Timer frame */

position: absolute;
width: 75px;
height: 30px;
left: 10px;
top: 216px;

background: #6D00B0;
border-radius: 15px;


/* Timer text */

position: absolute;
width: 41px;
height: 13px;
left: 38px;
top: 224px;

font-family: Mukta;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Timer icon */

position: absolute;
left: 4.8%;
right: 91.2%;
top: 37%;
bottom: 60%;

background: #FFFFFF;


/* Add image */

position: absolute;
width: 355px;
height: 150px;
left: 10px;
top: 48px;



/* Add image frame */

position: absolute;
left: 2.67%;
right: 2.67%;
top: 8%;
bottom: 67%;

background: #EBE8E8;


/* Add image */

position: absolute;
left: 23.47%;
right: 23.2%;
top: 24%;
bottom: 69.33%;

font-family: Mukta;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #636363;



/* Image */

position: absolute;
left: 46.13%;
right: 45.87%;
top: 18%;
bottom: 77%;

background: #000000;


/* Header */

position: absolute;
width: 375px;
height: 50px;
left: 0px;
top: 17px;



/* Vector */

position: absolute;
left: 89.07%;
right: 9.6%;
top: 30%;
bottom: 30%;

background: #000000;


/* Question type */

position: absolute;
width: 160px;
height: 35px;
left: 108px;
top: 8px;

background: #EBE8E8;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Vector */

position: absolute;
left: 67.2%;
right: 30.67%;
top: 46%;
bottom: 44%;

background: #000000;


/* True or False text */

position: absolute;
width: 100px;
height: 30px;
left: 138px;
top: 10px;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Hide */

position: absolute;
left: 8.53%;
right: 86.13%;
top: 38%;
bottom: 38%;

background: #000000;


/* True or False icon */

position: absolute;
width: 15px;
height: 24.99px;
left: 120px;
top: 13px;

background: url(Screenshot 2021-03-13 154709.png);


/* iPhone 8 - 5 */

position: relative;
width: 375px;
height: 667px;

background: #FFFFFF;


/* Main screen */

position: absolute;
width: 375px;
height: 600px;
left: 0px;
top: 27px;



/* Main screen frame */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #481892;


/* Game PIN form */

position: absolute;
left: 7.47%;
right: 7.2%;
top: 48.83%;
bottom: 31.17%;



/* Rectangle 3 */

position: absolute;
left: 7.47%;
right: 7.2%;
top: 48.83%;
bottom: 31.17%;

background: #FFFFFF;
border-radius: 8px;


/* Group 1 */

position: absolute;
left: 10.13%;
right: 9.87%;
top: 51.33%;
bottom: 42%;



/* Rectangle 4 */

position: absolute;
left: 10.13%;
right: 9.87%;
top: 51.33%;
bottom: 42%;

background: #FFFFFF;
border: 1px solid #ADABAB;
box-sizing: border-box;
box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;


/* Game PIN */

position: absolute;
left: 34.13%;
right: 33.87%;
top: 52.17%;
bottom: 42.83%;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #828282;



/* Group 2 */

position: absolute;
left: 10.13%;
right: 9.87%;
top: 59.67%;
bottom: 33.67%;



/* Rectangle 5 */

position: absolute;
left: 10.13%;
right: 9.87%;
top: 59.67%;
bottom: 33.67%;

background: #303030;
border-radius: 8px;


/* Enter */

position: absolute;
left: 42.13%;
right: 41.87%;
top: 60.5%;
bottom: 34.5%;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Quiz */

position: absolute;
left: 7.47%;
right: 7.2%;
top: 28.83%;
bottom: 51.17%;

font-family: Mukta;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 80px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


