/* slash screen */
position: relative;
width: 411px;
height: 823px;

background: #FAFAFA;
border-radius: 20px;

/* avatar */
position: absolute;
width: 36px;
height: 36px;
left: 21px;
top: 37px;

/* search */
position: absolute;
left: 89.54%;
right: 4.62%;
top: 5.59%;
bottom: 91.49%;
background: #C5C5C5;


/* Join Class */
position: absolute;
width: 63px;
height: 46px;
left: 128px;
top: 95px;

/* Create Class */
position: absolute;
width: 74px;
height: 46px;
left: 209px;
top: 95px;

/* Class */
position: absolute;
width: 382px;
height: 66px;
left: 14px;
top: 164px;

/* Header */
position: absolute;
width: 411px;
height: 109px;
left: 0px;
top: 0px;

/* Checked */
position: absolute;
width: 382px;
height: 66px;
left: 14px;
top: 268px;

/* Unchecked */
position: absolute;
width: 382px;
height: 66px;
left: 14px;
top: 346px;

/* Waiting */
position: absolute;
width: 382px;
height: 66px;
left: 14px;
top: 159px;

/* Header */
position: absolute;
width: 411px;
height: 85px;
left: 0px;
top: 0px;

/* ClassIN */
position: absolute;
width: 250px;
height: 250px;
left: 80px;
top: 286px;

/* ClassINERROR */
position: absolute;
width: 250px;
height: 250px;
left: 80px;
top: 287px;